body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s; /* Add a background color transition */
}


.header{
  font-size: 3em;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Use min-height to ensure full viewport height */
}

h1 {
    font-size: 2rem;
    margin: 15px auto;
    max-width: 90%;
}

.row {
    display: flex;
    justify-content: center;
}

/.row {
    display: flex;
    justify-content: center;
}

/* Style for the game limit modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

/* Style for the modal content */
.modal-content {
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
    width: 75%;
    max-width: 600px;
    margin: 15% auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Style for the modal title */
.modal-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

/* Style for the modal buttons */
.modal-content button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Style for the buttons on hover */
.modal-content button:hover {
    background-color: #2980b9;
}

/* Style for the buttons on active */
.modal-content button:active {
    background-color: #149cb8;
}


/* Scoreboard content */
.scoreboard {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

/* Style for the scoreboard headings */
.scoreboard h2 {
    font-size: 1.75rem; /* Adjust font size for h2 */
    margin: 0;
    color: #333; /* Choose a color that complements your design */
}

/* Style for the scoreboard scores */
.scoreboard p {
    font-size: 2rem; /* Adjust font size for p */
    margin: 0;
    color: #333; /* Choose a color that complements your design */
}


/* Set a fixed height for player and computer choices */
.player-hands, .player-hands p {
    height: 100%;
    margin-left: 4.5vh;
    margin-right: 4.5vh;
}

/* Center align text within player-choice and computer-choice */
.display-choice {
    text-align: center;
}

/* Style for the score numbers */
.score-number {
    font-size: 1rem;
    display: inline-block;
    width: 100%;
}

.game-option {
    width: 150px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
    background-size: cover;
    border: 3px solid #333;
    transition: transform 0.2s;
}

/* Add margins and padding for the display elements */
.display-choice {
    margin: 10px;
    padding: 5px;
}

/* Add styles for the display-result class */
.display-result {
    font-size: 1rem;
    font-weight: bold;
    margin: 10px auto;
    padding: 8px;
    text-align: center;
}

/* Game buttons */
.game-button {
    display: inline-flex; /* Use flexbox to make the buttons appear in a row */
    justify-content: center; /* Center the buttons horizontally */
}
#game-option button {
  display: inline-block;
  margin-right: 20px;


}

.game-option:hover {
    transform: scale(1.1); /* Add a hover effect to scale the buttons */
}

/* Game Choice Buttons */
.rock, .paper, .scissor {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; /* Use 100% for consistent background size */
}

/* Define a common style for the game buttons */
.game-option {
    width: 150px; /* Adjust the width for your choice */
    height: 150px; /* Adjust the height for your choice */
    margin: 10px;
    cursor: pointer;
    border: 3px solid #333;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
    border-radius: 50%; /* Make them circular */
}

/* Specify individual background images for each game choice */
.rock {
    background-image: url('img/Rock.png');
}

.paper {
    background-image: url('img/Paper.png');
    background-size: 50%;
}

.scissor {
    background-image: url('img/Scissor.png');
}

/* Add hover and active effects for the game buttons */
.game-option:hover {
    transform: scale(1.1);
    filter: brightness(1.2); /* Adjust brightness to make them pop on hover */
    background-color: #8d1616; /* Change background color on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Add a shadow effect on hover */
}

/* Reset background color and shadow on button click */
.game-option:active {
    background-color: #11ff00;
    box-shadow: none;
}


/* Responsive design for the game interface */
@media screen and (max-width: 768px) {
    .header{
      font-size: 2.8em;
    }
    .container {
        padding: 10px; /* Adjust padding for small screens */
    }
    .modal-content {
        width: 80%; /* Adjust modal width for small screens */
    }
    .game-option {
        width: 100px; /* Adjust game option size for small screens */
        height: 100px;
    }
}

/* Common styles for game options */
.game-option {
    cursor: pointer;
    border: 3px solid #333;
    background-size: contain;
    transition: transform 0.2s;
}

/* Responsive design for the game interface */
@media screen and (max-width: 768px), screen and (orientation: landscape) {
    .header{
      font-size: 3em;
    }
    .container {
        padding: 10px;
        flex-direction: column;
    }
    .modal-content {
        width: 80%;
    }
    .game-option {
        width: 100px;
        height: 100px;
    }
    h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    .scoreboard h2 {
        font-size: 1.5rem;
    }
    .scoreboard p {
        font-size: 1.25rem;
    }
}

/* Responsive design for the game interface */
@media screen and (max-width: 1920px) {
    .header{
      font-size: 4.5em;
    }
    .container {
        padding: 20px;
    }
    .modal-content {
        width: 80%;
    }
    .game-option {
        width: 150px;
        height: 150px;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 18px;
    }
    .scoreboard h2 {
        font-size: 24px;
    }
    .scoreboard p {
        font-size: 22px;
    }
}

/* Responsive design for the game interface - Larger screens */
@media screen and (min-width: 1921px) {
    .header{
      font-size: 5em;
    }
    .container {
        padding: 30px;
    }
    .game-option {
        width: 200px;
        height: 200px;
    }
    h1 {
        font-size: 36px;
    }
    p {
        font-size: 24px;
    }
    .scoreboard h2 {
        font-size: 36px;
    }
    .scoreboard p {
        font-size: 28px;
    }
}


